body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

form {
  display: grid;
  grid-gap: 20px;
}

label {
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Estilo para los elementos 'select' */
select {
  appearance: none; /* Eliminar la apariencia por defecto */
  background: url("down-arrow.png") no-repeat right center; /* Agregar una flecha personalizada */
  background-size: 20px; /* Ajustar el tamaño de la flecha */
  padding-right: 30px; /* Espacio para la flecha */
}

/* Estilo para el contenedor del elemento 'select' */
select::-ms-expand {
  display: none; /* Ocultar la flecha en Internet Explorer */
}
